* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

header {
    background-color: aqua;
    height: 50px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header li {
    height: 100%;
}

header form {
    height: 100%;
}

header button {
    border: none;
    background-color: transparent;
}

header a,
header button {
    font-size: 16px;
    padding: 0 10px;
    min-width: 75px;
    height: 100%;
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    align-content: center;
}

header a:hover,
header button:hover {
    color: white;
    background-color: #01e8e8;
}

.content-header {
    margin: 0.5em 0;
}

.primary-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(182, 238, 255);
    min-height: 45px;
}

.secondary-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(214, 242, 255);
    min-height: 40px;
}

.primary-header .title {
    font-size: 16px;
    flex-grow: 1;
    margin-left: 0.5em;
}

.primary-header > * {
    margin-right: 0.5em;
}

.secondary-header .title {
    font-size: 15px;
    flex-grow: 1;
    margin-left: 0.5em;
}

.secondary-header > * {
    margin-right: 0.5em;
}

.secondary-header form {
    display: flex;
    gap: 0.5em;
}

.secondary-header form select {
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.page-content {
    padding: 0 5px;
}

.page-content ul {
    padding-left: 2em;
}

.table {
    border-collapse: collapse;
}

.table th, 
.table td {
    min-width: 75px;
    padding: 5px;
    text-align: left;
}

.table thead tr {
    border-bottom: 3px double #888;
}

.table tbody tr {
    border-bottom: 1px solid #888;
}

.table tbody tr:hover {
    background-color: aquamarine;
}

.table .numeric {
    text-align: right;
}

.post-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    
}

.post {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    min-width: 0;
}

.post:hover {
    background-color: rgb(218, 218, 218);
}

.post > .post-ribbons {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.post-ribbons {
    display: flex;
    gap: 0.5em;
}

.post-ribbons > * {
    font-size: 12px;
    padding: 0.5em;
    border-radius: 5px;
    background-color: aqua;
}

.post-ribbons .featured {
    background-color: limegreen;
}

.post-ribbons .premium {
    background-color: gold;
}

.post .image {
    height: 200px;
}

.image.loaded {
    opacity: 1;
}

.image {
    display: block; /* otherwise height doesn't work */  
    width: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 0.3s ease;
}

/* .post-bottom {} */

.post-meta {
    padding: 0 0.5em;
}

.post-meta .post-title,
.post-meta .post-categories,
.post-meta .post-author {
    margin-top: 0.5em;
}

.post-meta .post-time {
    margin-bottom: 0.5em;
}

.post-title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.post-categories {
    display: flex;
    gap: 0.5em;
    /* flex-wrap: wrap; */
    overflow: hidden;
}

.post-categories > * {
    flex-shrink: 0;
    padding: 0.5em;
    background-color: aqua;
    border-radius: 5px;
    font-size: 12px;
    min-width: 25px;
    text-align: center;
}

.form {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    width: min(500px, 100%);
}

.form button {
    align-self: flex-start;
}

.form textarea {
    resize: vertical;
    height: 100px;
    background-color: #e7e7e7;
}

.form input, 
.form textarea,
.form select,
.form .checkbox-container {
    margin-bottom: 0.5em;
    border: none;
}

.form input, 
.form textarea,
.form select {
    border-bottom: 1px solid black;
}

.form input, 
.form label, 
.form textarea,
.form select {
    padding: 5px;
}

.error-list ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.5em;
}

.error-list li {
    padding: 5px;
    background-color: rgb(255, 149, 149);
    margin-bottom: 0.25em;
}

.button {
    font-size: 15px;
    display: inline-block;
    text-decoration: 0;
    min-width: 75px;
    color: black;
    text-align: center;
    align-content: center;
    background-color: rgb(0, 204, 255);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.button:hover {
    background-color: rgb(0, 185, 231);
    color: white;
}

.button.delete {
    background-color: rgb(255, 104, 104);
}

.button.delete:hover {
    background-color: rgb(218, 84, 84);
}

.button.premium {
    background-color: gold;
}

.button.premium:hover {
    background-color: rgb(204, 173, 0);
}

.post-image {
    height: 250px;
	margin: 0.5em 0;
}

.post-content {
    padding: 0 5px;
    min-height: 350px;
}

.categories {
    padding: 0.5em;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 2em 0;
}

.category {
    min-width: 50px;
    background-color: aqua;
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 5px;
}

.comments {
    margin-top: 1em;
}

.comments-title {
    padding: 0 5px;
    font-size: 16px;
    margin-bottom: 1em;
}

.comment {
    border-left: 4px solid rgb(182, 238, 255);
    padding: 5px;
    margin-bottom: 1em;
}

.comment hr {
    height: 0.25em;
    border: 0;
    background-color: #d1d9e0;
    margin: 0.5em 0;
}

.comment-header {
    display: flex;
}

.comment-author {
    flex-grow: 1;
    font-weight: bold;
}

.comment-content {
    min-height: 75px;
}

.plans {
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
}

.plan {
    min-width: 0;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
}

.plan-header {
    color: white;
    background-color: black;
    width: 100%;
    padding: 0.5em;
    text-align: center;
}

.plan-price {
    display: flex;
    margin: 20px 0;
}

.plan-price .currency {
    align-self: flex-start;
    line-height: 1;
    padding-top: 0.4em;
}

.plan-price .amount {
    font-size: 3em;
    line-height: 1;
}

.plan-price .period {
    align-self: flex-end;
    line-height: 1;
    padding-bottom: 0.4em;
}

.plan-title {
    font-size: 1.4em;
}

.plan-description {
    margin-bottom: 10px;
    text-align: center;
}

.plan .button {
    margin-bottom: 10px;
}