* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

table {
    border-collapse: collapse;
}

th, td {
    min-width: 100px;
    padding: 10px;
    text-align: left;
}

thead tr {
    border-bottom: 3px double #888;
}

tbody tr {
    border-bottom: 1px solid #888;
}

.numeric {
    text-align: right;
}

td input {
    padding: 0;
    border: none;
}

.bold {
    font-weight: bold;
}

button {
    display: block;
    padding: 5px 10px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
}

button:hover {
    color: white;
}