table {
    border-collapse: collapse;
}

th {
    min-width: 100px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

button {
    display: block;
    padding: 5px 10px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
}

button:hover {
    color: white;
}