* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

header {
  background-color: aqua;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  min-width: 100px;
  text-align: center;
  height: 100%;
  align-content: center;
}

a:hover {
  background-color: rgb(177, 255, 255);
}

.title {
  margin: 5px 0;
  padding: 10px;
  background-color: rgb(182, 238, 255);
}