* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: aqua;
  height: 40px;
}

nav {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 10px;
  color: black;
  min-width: 100px;
  text-align: center;
}